/// ===== .breadcrumb =====
.breadcrumb {
  margin-top: 4px;
}
.breadcrumb__container {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.breadcrumb__item {
  transition: all .2s ease;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.43;
  color: var(--charcoal-grey);
}
.breadcrumb__item:hover:not(.active) {
  color: var(--bright-orange);
}
.breadcrumb__item + .breadcrumb__item::before {
  content: " / ";
  display: inline-block;
  padding: 0 0.5em;
}