/// ===== .form-check-input =====
.form-check-input .custom-control-input {
  &:checked ~ .custom-control-label::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M16.746 8.276a.831.831 0 00-1.237 0l-4.976 5.415-2.035-2.238a.846.846 0 00-1.25.014 1.04 1.04 0 00.006 1.355l2.622 2.843.038.048c.345.383.9.383 1.244 0l5.588-6.088c.339-.376.339-.98 0-1.349z'/%3E%3C/svg%3E");
  }
  &:indeterminate ~ .custom-control-label::before {
    border-color: #007bff;
    background-color: #007bff;
  }
  &:indeterminate ~ .custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3e%3cpath stroke='%23fff' d='M0 2h4'/%3e%3c/svg%3e");
  }
  &:disabled:checked ~ .custom-control-label::before {
    background-color: rgba(0, 123, 255, 0.5);
  }
  &:disabled:indeterminate ~ .custom-control-label::before {
    background-color: rgba(0, 123, 255, 0.5);
  }
}
