/// ====== .image-upload-wrapper =====
.image-upload-wrapper {
  .image-upload__list {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    gap: 20px;
    .image-upload__list-item {
      height: 270px;
      position: relative;
      border: 1px dashed var(--white-three);
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
}

/// ===== .image-upload__select =====
.image-upload__select {
  width: 100%;
  height: 100%;
  cursor: pointer;
  input {
    display: none;
  }
  .image-upload__button {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.83;
    color: var(--greyish);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .image-upload__button-icon + .image-upload__button-text {
      margin-top: .5rem;
    }
  }
}

/// ===== .image-upload__preview =====
.image-upload__preview {
  height: 100%;
  position: relative;
  .image-upload__preview-image {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .image-upload__preview-remove {
    position: absolute;
    top: .5rem;
    right: .5rem;
    line-height: 0;
    padding: 0.125rem;
    border-radius: 100%;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease;
    color: #9b9b9b;
    .icons {
      color: inherit;
    }
  }
  &:hover .image-upload__preview-remove {
    background-color: var(--pumpkin-orange);
    color: var(--white);
  }
  .image-upload__preview-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: var(--greyish-two);
  }
}

/// ===== .file-upload__note =====
.file-upload__note {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.43;
  color: var(--greyish);
  margin-top: 1rem;
  display: inline-block;
}

/// validation
.image-upload-wrapper {
  .invalid-feedback {
    display: block;
  }
}