@use "mixins" as mix;

.invalid-feedback {
  display: none;
  font-size: 0.625rem;
  font-weight: 500;
  line-height: 2.2;
  color: var(--strawberry);
  position: absolute;
  top: 100%;
  left: 0;
}
// .form-control
.was-validated .form-control {
  &:invalid {
    @include mix.invalid-form-control;
  }
}
.form-control {
  &.is-invalid {
    @include mix.invalid-form-control;
  }
}
// .form-check-input
.form-check-input {
  .was-validated .custom-control-input {
    &:invalid {
      @include mix.invalid-form-check-input ;
    }
  }
  .custom-control-input {
    &.is-invalid {
      @include mix.invalid-form-check-input ;
    }
  }
}

